{% extends 'base.html.twig' %}

{% block title %}EventsReservation index{% endblock %}

{% block body %}
    <h1>EventsReservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tel</th>
                <th>Reservations</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for events_reservation in events_reservations %}
            <tr>
                <td>{{ events_reservation.id }}</td>
                <td>{{ events_reservation.Tel }}</td>
                <td>{{ events_reservation.Reservations }}</td>
                <td>
                    <a href="{{ path('events_reservation_show', {'id': events_reservation.id}) }}">show</a>
                    <a href="{{ path('events_reservation_edit', {'id': events_reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('events_reservation_new') }}">Create new</a>
{% endblock %}
